@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import "reset";
@import "fonts";
@import "vars";
@import "global";
.header {
  background: url(../img/header-bg.jpg) center center no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 100vh;
}
.header-nav {
  padding: 57px 0;
  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__list {
    display: flex;
    align-items: center;
    gap: 0 40px;
    margin: 0 auto 0 69px;
  }
  &__link {
    font-size: 14px;
    line-height: 21px;
  }
  &__tel {
    font-size: 17px;
    line-height: 26px;
  }
}
.header-body {
  min-height: calc(100vh - 162px);
  // background: paleturquoise;
  padding-bottom: 322px;
  // &__content{
  //   background: purple;
  // }
  &__subtitle {
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #fff;
  }
  &__title {
    font-size: 100px;
    line-height: 151px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 15px;
  }
  &__btn {
    display: inline-flex;
    border: 1px solid #fff;
    font-size: 17px;
    line-height: 26px;
    padding: 17px 23px;
  }
}
.about {
  padding: 113px 0 57px;
  &__inner {
    display: grid;
    grid-template-columns: minmax(100px, 270px) minmax(100px, 270px) minmax(100px, 570px);
    grid-template-rows: minmax(100px, 260px) minmax(100px, 344px);
    gap: 67px 30px;
  }
  &__item {
    grid-row: 1 / 2;
  }
  &__item:nth-child(1) {
    grid-column: 1 / 3;
  }
  &__img {
    // border: 1px solid red;
    height: 344px;
  }
  &__img:nth-child(1) {
    grid-column: 1 / 2;
  }
  &__title {
    font-size: 50px;
    line-height: 75px;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 58px;
  }
  &__subtitle {
    font-size: 25px;
    line-height: 38px;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 19px;
  }
  &__text {
    @extend %open-sans-400;
    font-size: 16px;
    line-height: 26px;
    text-align: justify;
    color: #000;
  }
}
.footer {
  padding: 57px 0 80px;
  &__inner {
    display: flex;
    align-items: center;
  }
  &__copyright,
  &__author {
    @extend %open-sans-400;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
  }
  &__author {
    margin-left: 55px;
  }
}
@import "media";
